body{
  overflow-x: hidden;
}

.js-scroll {
  opacity: 0;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-left {
  animation: fadeleft 800ms ease forwards;
}

.scrolled.fade-right {
  animation: faderight 800ms ease forwards;
}

.scrolled.fade-top {
  animation: fadetop 800ms ease forwards;
}

.scrolled.fade-btm {
  animation: fadebtm 800ms ease forwards;
}

@keyframes fadeleft {
  0% {
      transform: translateX(-100px);
      opacity: 0;
  }

  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes faderight {
  0% {
      transform: translateX(100px);
      opacity: 0;
  }

  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes fadetop {
  0% {
      transform: translateY(-100px);
      opacity: 0;
  }

  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes fadebtm {
  0% {
      transform: translateY(100px);
      opacity: 0;
  }

  100% {
      transform: translateY(0);
      opacity: 1;
  }
}